#!/bin/bash
JAVA_PROPS=`unzip -p {{artifactId}}-{{version}}.jar "*app.properties"`
HEALTH_URL=`unzip -p {{artifactId}}-{{version}}.jar "*app.properties" | grep "\-Dhealth" | cut -d= -f2`
nohup java $JAVA_PROPS -Denv.name=$ENV_NAME -Dapp.component="{{artifactId}}" -Dapp.version="{{version}}" -jar "/home/{{user}}/{{artifactId}}-{{version}}.jar" > /home/{{user}}//{{artifactId}}-{{version}}.log 2>&1  &

success=1
for i in `seq 1 20`; do
  sleep 1
  if [[ `curl -s $HEALTH_URL | jq ".version"` == "\"{{version}}\"" ]]; then
      echo "Deploy successful"
      success=0
      break
  fi
done

if [[ "$success" == "1" ]]; then
    echo "Deploy failed"
fi

exit $success
