#!/bin/bash
function getPid {
    pid=`ps ax | grep "\-Dapp.component={{artifactId}} \-Dapp.version" | awk '{print $1}'`
    echo $pid
}

pid=`getPid`
if [[ "$pid" == "" ]]; then
  echo "Not found process for application {{artifactId}}"
else
  echo "Sending SIGTERM to process pid=$pid"
  kill $pid
  for i in `seq 1 10`; do
    sleep 1
    if [[ `getPid` == "" ]]; then
        echo "Process terminated"
        break
    fi
  done
fi
